[submodule "05-concurrency-web-scraping"]
	path = 05-concurrency-web-scraping
	url = https://github.com/minhlong149/recipe-scraper
[submodule "06-ecomm-gin-web"]
	path = 06-ecomm-gin-web
	url = https://github.com/minhlong149/df-ecomm
[submodule "07-ecomm-gorm-db"]
	path = 07-ecomm-gorm-db
	url = https://github.com/minhlong149/df-ecomm
